<form role="form">
  <div class="panel panel-default">
    <table class="table table-bordered table-striped vertical-center">
      <thead>
        <tr>
          <th class="col-md-4 text-center">First Name</th>
          <th class="col-md-4 text-center">Last Name</th>
          <th class="col-md-3 text-center">Contact Number</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" class="form-control" data-ng-model="vm.fname" maxlength="25" /></td>
          <td><input type="text" class="form-control" data-ng-model="vm.lname" maxlength="25" /></td>
          <td><input type="text" data-tel-no class="form-control" data-ng-model="vm.contactNo" maxlength="12" /></td>
          <td><input type="button" class="form-control input-sm" data-ng-click="vm.addUser(vm.fname,vm.lname,vm.contactNo)" 
          	         data-ng-disabled="utility.isEmpty(vm.fname,vm.lname,vm.contactNo)" value="add">
          </td>
        </tr>
        <tr data-ng-repeat="user in vm.users | reverseArr">
          <td>{{ user.fname }}</td>
          <td>{{ user.lname }}</td>
          <td>{{ user.contactNo }}</td>
          <td><input type="button" class="form-control input-sm" data-ng-click="vm.deleteUser(user.id)" value="delete"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
